body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    font-size: large;
}

#instructbtn
{
    float: right;
}

.footer
{
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    margin: 0px;
    bottom: 0;
    position: fixed;
}

canvas
{
    border: 3px solid white;
    border-radius: 50px;
}